@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.eot');
    src: url('../fonts/iconfont.eot') format('embedded-opentype'), url('../fonts/iconfont.ttf') format('truetype'), url('../fonts/iconfont.woff') format('woff'), url('../fonts/iconfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'iconfont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* 指纹 */

.icon-fingerprint:before {
    content: '\e6a4';
}


/* 邀请码 */

.icon-invite-code:before {
    content: '\e6a3';
}


/* 客服填充和边框 */

.icon-consult-fill:before {
    content: '\e6a2';
}

.icon-consult-border:before {
    content: '\e688';
}


/* 用户名 */

.icon-username:before {
    content: '\e6a1';
}


/* 信息披露 */

.icon-info:before {
    content: '\e6a0';
}


/* 信息 */

.icon-message:before {
    content: '\e69f';
}


/* 项目详情 */

.icon-item-detail:before {
    content: '\e69e';
}


/* 风险控制 & 风险提示 */

.icon-danger-control:before {
    content: '\e69d';
}


/* 合同 */

.icon-agreement:before {
    content: '\e69c';
}


/* 转让 */

.icon-transfer:before {
    content: '\e69b';
}


/* 投资记录 */

.icon-invest-history:before {
    content: '\e69a';
}


/* 散标 */

.icon-scatter:before {
    content: '\e699';
}


/* 我的 边框 & 填充 */

.icon-mine-border:before {
    content: '\e698';
}

.icon-mine-fill:before {
    content: '\e695';
}


/* 微信 边框 & 无色 & 填充 */

.icon-wechat-border:before {
    content: '\e697';
}

.icon-wechat-nc:before {
    content: '\e696';
}

.icon-wechat-fill:before {
    content: '\e694';
}


/* 投资 边框 & 填充 */

.icon-invest-border:before {
    content: '\e693';
}

.icon-invest-fill:before {
    content: '\e692';
}


/* 首页 边框 & 填充 */

.icon-home-border:before {
    content: '\e68f';
}

.icon-home-fill:before {
    content: '\e691';
}


/* 电话号码 */

.icon-telnum:before {
    content: '\e690';
}


/* 时间 */

.icon-time:before {
    content: '\e68e';
}


/* 筛选 */

.icon-filter:before {
    content: '\e68d';
}


/* 联系 */

.icon-contact:before {
    content: '\e68c';
}


/* 平台 */

.icon-platform:before {
    content: '\e68b';
}


/* 密码 */

.icon-password:before {
    content: '\e68a';
}


/* 红包 */

.icon-redpacket:before {
    content: '\e689';
}


/* 加息券 */

.icon-coupon:before {
    content: '\e686';
}


/* 关于 */

.icon-about:before {
    content: '\e685';
}


/* 短信验证码 */

.icon-message-code:before {
    content: '\e684';
}


/* 发现 边框 & 填充 */

.icon-discovery-fill:before {
    content: '\e683';
}

.icon-discovery-border:before {
    content: '\e682';
}


/* 动态 */

.icon-activity:before {
    content: '\e680';
}


/* 短信 */

.icon-message-special:before {
    content: '\e67f';
}


/* 安全保障 */

.icon-safe-guard:before {
    content: '\e67e';
}


/* 帮助 */

.icon-help:before {
    content: '\e67d';
}


/* 密码 显示 & 隐藏 */

.icon-show-password:before {
    content: '\e67c';
}

.icon-hide-password:before {
    content: '\e67b';
}


/* 电话 */

.icon-tel:before {
    content: '\e67a';
}

/* 箭头 */
.icon-arrow:before {
    content: '\e61d';
}

/* checkbox */
.icon-checkbox {
    content: '\e61c';
}


/* 加 */
.icon-plus:before {
    content: '\e6a6';
}


/* 减 */
.icon-minus:before {
    content: '\e6a5';
}


/* 上箭头 */
.icon-up-arrow:before {
    content: '\e6a8';
}


/* 下箭头 */
.icon-down-arrow:before {
    content: '\e6a7';
}